/* Small devices (phones, less than 768px) */
@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Shrikhand;
  src: url("./Shrikhand/Shrikhand-Regular.ttf");
}
/* colors */
/* font family */
.colored-button {
  margin: 20px 0px;
  padding: 18px 18px;
  border-style: solid;
  border-width: 0px;
  border-radius: 39px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 8px 15px #d1d1d1;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity 1s;
}
.colored-button:hover {
  opacity: 0.8;
  transition: opacity all;
  transition-duration: 1S;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.button {
  width: 100%;
  height: 70px;
  padding: 20px;
  border-style: solid;
  border-width: 0px;
  border-radius: 20px;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
}

/* colors */
@-webkit-keyframes slide {
  from {
    height: 100%;
  }
  to {
    height: 0;
    display: none;
  }
}
@keyframes slide {
  from {
    height: 100%;
  }
  to {
    height: 0;
    display: none;
  }
}
.loader-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: slide 1s ease 3s forwards;
}
.loader-page .loader {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}
.loader-page .loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(147, 86, 220, 0.4);
}
.loader-page .loader-quart:after {
  content: "";
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  position: absolute;
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: rgb(147, 86, 220);
  animation: spin 1s linear 0.1s infinite;
}

@-webkit-keyframes spin {
  0% {
    webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* font family */
/***** General *******/
body {
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header-container .nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.container-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  font-size: 15px;
  margin-top: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.container-form input {
  border: none;
  background-color: #eaeaea;
}
.container-form ::placeholder {
  color: black;
  font-family: Roboto;
  font-size: 18px;
}

.container-info-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F9F9F9;
}
.container-info-group p {
  margin-top: 0px;
}
.container-info-group .info-group-title {
  font-family: Roboto;
}

.button-filter-h {
  padding-left: 10px;
}

.fa-store {
  color: #9356DC;
}

.fonctionnement {
  margin: 0px 20px 0px 20px;
}
.fonctionnement .fonctionnement-title {
  font-family: Roboto Bold, sans-serif;
  margin-top: 40px;
}
.fonctionnement .fonctionnement-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.step-number {
  position: absolute;
  left: -12px;
}
.step-number .number {
  color: white;
  font-size: 10px;
  background-color: #9356DC;
  padding: 6px 9px;
  border-radius: 50%;
  margin-top: -5px;
}

.restaurants {
  width: 100%;
  background-color: #F9F9F9;
  margin-top: 40px;
  padding-bottom: 45px;
}
.restaurants div {
  margin: 0px 20px 0px 20px;
}
.restaurants .restaurants-title {
  display: flex;
  margin-left: 20px;
  padding-top: 20px;
  font-family: Roboto Bold, sans-serif;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants-cards a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 20px;
  position: relative;
}
.restaurants .restaurants-cards img {
  width: 100%;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.info-bulle {
  position: absolute;
  top: 5%;
  right: 0%;
  transform: translate(-21%, -21%);
  z-index: 1;
}
.info-bulle .text-new {
  color: rgba(1, 142, 106, 0.7882352941);
  font-weight: bold;
  font-size: 13px;
  background-color: #99E2D0;
  opacity: 0.9;
  padding: 5px 15px 5px 10px;
  font-family: Roboto, sans-serif;
}

.card {
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0px;
}
.card-content .card-txt {
  margin-top: 10px;
  margin-bottom: 15px;
}
.card-content .card-txt .card-title {
  margin: 0;
  font-size: 18px;
  font-family: Roboto Bold, sans-serif;
}
.card-content .card-txt .card-subtitle {
  margin: 3px;
  font-size: 17px;
  line-height: 19px;
  font-family: Roboto, serif;
  font-weight: 100;
}
.card-content .card-rating {
  padding-top: 20px;
}
.card-content .card-rating i {
  position: absolute;
}
.card-content .card-rating .full-heart {
  opacity: 0;
  color: transparent;
  transition-property: all;
  transition-duration: 1s;
}
.card-content .card-rating .full-heart:active {
  opacity: 1;
  color: transparent;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

.footer {
  background-color: #353535;
  color: white;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
}
.footer h4 {
  font-family: Shrikhand;
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}
.footer a {
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  border: 1px white solid;
  border-radius: 50px 50px 0px 0px;
  padding-top: 30px;
  margin-top: -50px;
}
.menu .plate-content {
  margin: 0px 15% 20px 15%;
}
.menu .plate-content .plate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  margin: 15px 15px;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px;
}

.menu-title {
  font-family: Shrikhand;
  font-size: 28px;
  text-align: center;
}

.menu-subtitle {
  font-family: Roboto Thin, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 15px;
}
.menu-subtitle ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}

.plate-description {
  width: 100%;
}

.plate-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-check {
  color: #99E2D0;
}

.check-in .fa-check {
  font-size: 13px;
  border: 1px #99E2D0 solid;
  padding: 2px;
  border-radius: 50%;
}

.order {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
