/* Small devices (phones, less than 768px) */
@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Shrikhand;
  src: url("./Shrikhand/Shrikhand-Regular.ttf");
}
/* colors */
/* font family */
.colored-button {
  margin: 20px 0px;
  padding: 18px 18px;
  border-style: solid;
  border-width: 0px;
  border-radius: 39px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 8px 15px #d1d1d1;
  box-sizing: border-box;
  font-family: Roboto, Thin;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
}
.colored-button:hover {
  opacity: 0.8;
  transition: opacity;
  transition-duration: 1S;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.button {
  width: 100%;
  height: 70px;
  padding: 20px;
  border-style: solid;
  border-width: 0px;
  border-radius: 20px;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
  font-family: Roboto, Thin;
  font-size: 18px;
}

.loader-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: slide 1s ease 1s forwards;
  overflow: hidden;
}
.loader-page .loader {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}
.loader-page .loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(147, 86, 220, 0.4);
}
.loader-page .loader-quart:after {
  content: "";
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  position: absolute;
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: rgb(147, 86, 220);
  animation: spin 1s linear 0.1s infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide {
  from {
    height: 100%;
  }
  to {
    height: 0;
    display: none;
  }
}
@keyframes slide {
  from {
    height: 100%;
  }
  to {
    height: 0;
    display: none;
  }
}
.banniere {
  height: 550px;
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 100% 100%;
}

.banniere-menu2 {
  height: 550px;
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 100% 100%;
}

.banniere-menu3 {
  height: 550px;
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 100% 100%;
}

.banniere-menu4 {
  height: 550px;
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100% 100%;
}

/* colors */
@keyframes fadeinup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.plat-content {
  opacity: 0;
  animation: fadeinup 1s ease-in-out 0s forwards;
}
.plat-content.starter {
  animation-delay: 1s;
}
.plat-content.dish {
  animation-delay: 2s;
}
.plat-content.dessert {
  animation-delay: 3s;
}

.plat:hover .check-in {
  width: 55px;
  transition: all 0.3s ease-in-out 0s;
}

.check-in {
  position: relative;
  width: 0px;
  background: #99E2D0;
  height: 70px;
  left: 15px;
  transition: all 0.3s ease-in-out 0s;
}
.check-in .fa-check {
  position: absolute;
  background: #FFF;
  color: #99E2D0;
  width: 7px;
  height: 7px;
  border: 2px #fff solid;
  border-radius: 50%;
  padding: 9px 8px 3px 5px;
  margin-top: 23px;
  margin-left: 13px;
}

/* font family */
/***** General *******/
body {
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header-container .nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.header-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header-restaurant .nav-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.return-arrow a {
  text-decoration: none;
  color: black;
  padding-left: 17px;
}

.container-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  font-size: 15px;
  margin-top: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.container-form input {
  border: none;
  background-color: #eaeaea;
  font-family: Roboto;
  font-size: 15px;
}
.container-form ::placeholder {
  color: black;
  font-family: Roboto;
  font-size: 18px;
}

.container-info-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F9F9F9;
}
.container-info-group p {
  margin-top: 0px;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 22px;
}
.container-info-group .info-group-title {
  font-family: Roboto Bold, sans-serif;
  font-size: 28px;
}

.button-filter-h {
  padding-left: 10px;
  font-family: Roboto Bold, sans-serif;
}

.fonctionnement {
  margin: 0px 20px 0px 20px;
}
.fonctionnement .fonctionnement-title {
  font-family: Roboto Bold, sans-serif;
  margin-top: 40px;
}
.fonctionnement .fonctionnement-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.fonctionnement .fonctionnement-button .button:hover .fa-solid {
  color: #9356DC;
}

.step-number {
  position: absolute;
  left: -12px;
  color: #fff;
  font-size: 10px;
  background-color: #9356DC;
  padding: 6px 9px;
  border-radius: 50%;
  margin-top: -5px;
}

.restaurants {
  width: 100%;
  background-color: #F9F9F9;
  margin-top: 40px;
  padding-bottom: 45px;
}
.restaurants div {
  margin: 0px 20px 0px 20px;
}
.restaurants .restaurants-title {
  display: flex;
  margin-left: 20px;
  padding-top: 20px;
  font-family: Roboto Bold, sans-serif;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants-cards a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 20px;
  position: relative;
}
.restaurants .restaurants-cards img {
  width: 100%;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.text-new {
  position: absolute;
  top: 5%;
  right: 0%;
  transform: translate(-21%, -21%);
  z-index: 1;
  color: rgba(1, 142, 106, 0.7882352941);
  font-weight: bold;
  font-size: 13px;
  background-color: #99E2D0;
  opacity: 0.9;
  padding: 5px 15px 5px 10px;
  font-family: Roboto, sans-serif;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0px;
}
.card-content .card-txt {
  margin-top: 10px;
  margin-bottom: 15px;
}
.card-content .card-txt .card-title {
  margin: 0;
  font-size: 18px;
  font-family: Roboto Bold, sans-serif;
}
.card-content .card-txt .card-subtitle {
  margin: 3px;
  font-size: 17px;
  line-height: 19px;
  font-family: Roboto, serif;
  font-weight: 100;
}

.card-rating {
  padding-top: 20px;
}
.card-rating i {
  position: absolute;
}
.card-rating .full-heart {
  opacity: 0;
  color: transparent;
  transition-property: all;
  transition-duration: 1s;
}
.card-rating .full-heart:hover {
  opacity: 1;
  color: transparent;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
}
.footer h4 {
  font-family: Shrikhand;
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}
.footer a {
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
  padding-top: 6px;
}

/** menu restaurant **/
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  border: 1px #fff solid;
  border-radius: 50px 50px 0px 0px;
  padding-top: 30px;
  margin-top: -50px;
}
.menu .menu-title {
  font-family: Shrikhand;
  font-size: 26px;
  text-align: center;
}
.menu .menu-title i {
  padding-left: 10px;
  position: absolute;
}
.menu .menu-title .full-heart {
  opacity: 0;
  color: transparent;
  transition-property: all;
  transition-duration: 1s;
}
.menu .menu-title .full-heart:hover {
  opacity: 1;
  color: transparent;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

.plat-content {
  margin: 0px 15% 20px 15%;
}
.plat-content .menu-subtitle {
  font-family: Roboto Thin, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 15px;
}
.plat-content .menu-subtitle:after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}

.plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  margin: 15px 15px;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.plat .plat-description {
  width: 100%;
  overflow: hidden;
}
.plat .plat-description .card-title {
  margin: 0;
  font-size: 18px;
  font-family: Roboto Bold, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat .plat-description .card-subtitle {
  margin: 3px;
  font-size: 17px;
  line-height: 19px;
  font-family: Roboto, serif;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat .plat-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order {
  display: flex;
  justify-content: center;
}

h3 {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
