@import "libs/responsive.scss";


@media screen and (min-width:1024px){
    .restaurants{
        display: flex;
        flex-direction: column;
        .restaurants-title{
            margin: 0px 15% 0px 15%;
        }
    }

    .restaurants-cards{
        padding: 0px 13% 0px 13%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
        
        a{
            width: 45%;
            
            
        }
        img{
            height: 140px !important;
        }
    }

    .footer nav {
        display: flex;
        flex-direction: row-reverse;
        gap:30px;
        margin-right: 50px;
        margin-top: 35px;
    }
}