@import "libs/responsive.scss";


@media screen and (min-width:1024px){

    .restaurants{
        display: flex;
        flex-direction: column;
        .restaurants-title{
            margin: 0px 15% 0px 15%;
        }
    }

    .restaurants-cards{
        padding: 0px 13% 0px 13%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
        
        a{
            width: 45%;
            
            
        }
        img{
            height: 140px !important;
        }
    }

    .banniere {
        height: 400px;
    }

    .menu {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .fonctionnement {
        margin: 0px 15% 0px 15%;
        .fonctionnement-button{
            display: flex;
            flex-direction: row;
        }
    }
}