/* Small devices (phones, less than 768px) */

    
@font-face { 
        font-family: Roboto; 
        src: url('./Roboto/Roboto-Regular.ttf'); 
    } 
    
@font-face { 
        font-family: Shrikhand; 
        src: url('./Shrikhand/Shrikhand-Regular.ttf'); 
    } 

@import "libs/variables.scss";
@import "libs/mixin.scss";
@import "libs/buttons.scss";


/* font family */

$txt_font: Roboto;
$logo_title_font: Shrikhand;

/***** General *******/
    body {
        margin: 0;
        box-sizing: border-box;
    }

    .header-container {
        font-family: $txt_font ;
        @include flex-colum;
        margin: 0;

        .nav-logo {
            @include flex-row-c;
            padding-top: 10px;
            padding-bottom: 20px;
            width: 100%; 
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        }


    }

    .container-form {  
        display: flex;
        justify-content: space-around;
        align-items:center;
        width: 100%; 
        height: 50px;
        background-color: #eaeaea;
        font-size: 15px;
        margin-top: 5px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);

        input {
            border: none;
            background-color: #eaeaea ;
        }

        ::placeholder {
            color:black ;
            font-family: $txt_font;
            font-size: 18px;
        }
    }


    .container-info-group {
        @include flex-colum;
        text-align: center;
        background-color:$LightGreybackground;

        p {
            margin-top: 0px;
        }

        .info-group-title {
            font-family: $txt_font;
        }

    }

    .button-filter-h {
        padding-left: 10px;
    }

    .fa-store {
        color: $primary-color; 
    }

    .fonctionnement {
        margin: 0px 20px 0px 20px; 
    
        .fonctionnement-title {
            font-family: $txt_font Bold, sans-serif;
            margin-top: 40px;
        }
    
        .fonctionnement-button {
            @include flex-colum;
            gap: 30px;
        }
    }

    .step-number {
        position: absolute;
        left:13px;
        .number {
            color: white;
            font-size: 10px;
            background-color: $primary-color;
            padding: 6px 9px;
            border-radius: 50%;
            margin-top: -5px;
                }
    }

    .restaurants {
        width: 100%;
        background-color:$LightGreybackground;
        margin-top: 40px;
        padding-bottom: 45px;
    
        div {
            margin: 0px 20px 0px 20px; 
        }
    
        .restaurants-title {
            display: flex;
            margin-left: 20px;
            padding-top: 20px;
            font-family: $txt_font Bold, sans-serif; 
        }
    
        .restaurants-cards {
            display: flex;
            flex-direction: column;
    
            a {
                color: inherit;
                text-decoration: none;
                padding-bottom: 20px;
            }
    
            img {
                width: 100%;
                height: 170px;
                border-radius: 10px 10px 0px 0px;
                object-fit: cover;
            }
        }
    }

    .card {
        background-color: white;
        border-radius: 10px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

        
    } 

    .card-content { 
        @include flex-row-s;
        padding-left: 10px;
        box-sizing: border-box;
        margin: 0px;
    
        .card-txt {
            margin-top: 10px;
            margin-bottom: 15px;
    
            .card-title {
                margin: 0;
                font-size: 18px;
                font-family: $txt_font Bold, sans-serif;
            }
            
            .card-subtitle { 
                margin: 3px;
                font-size: 17px;
                line-height: 19px;
                font-family: $txt_font, serif;
                font-weight:100;
            }    
        }
    
        .card-rating {
            padding-top: 20px ;
            i {
                position: absolute;
            }
            
            .full-heart {
                opacity: 0;
                color: transparent;
                transition-property: all;
                transition-duration: 1s;
            }
            
            .full-heart:hover {
                opacity: 1;
                color: transparent;
                background: linear-gradient(to top, $primary-color, $secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
            }
            
        }
    }

    

    
    

    
    .footer {
        background-color: #353535; 
        color: white;
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 16px;
        
        h4 {
            font-family:$logo_title_font ;
            font-size: 15px;
            margin: 0;
            padding-bottom: 15px;
        }
    
        a {
            font-family: $txt_font; 
            display: flex;
            flex-direction: row;
            color: inherit;
            text-decoration: none;
        }
    }