/* Small devices (phones, less than 768px) */


    /***** General *******/
    
    @font-face { 
        font-family: Roboto; 
        src: url('./Roboto/Roboto-Thin.ttf'); 
    } 
    
    @font-face { 
        font-family: Shrikhand; 
        src: url('./Shrikhand/Shrikhand-Regular.ttf'); 
    } 

    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $tertiary-color:#99E2D0;
    $LightGreybackground:#F9F9F9;
    